doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content)
        meta(name='author', content)

        title Adsinfos

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0
            // Navigation
            include includes/navbar.pug
            // Navigation
            section.bg-light.py-5
                .container.px-5
                    .row.gx-5.justify-content-center
                        .col-xxl-8
                            .text-center.my-5
                                h2.display-5.fw-bolder
                                    span.text-gradient.d-inline Acerca de 
                                p.lead.fw-light.mb-4 Somos un grupo de Canales y bots que monitorizan y publican
                                p.text-muted Desde noticias, cotización de divisas, monitoreo de servidores, monitoreo de convocatorias de gobiernos a empresas y personas, etc.
                                .d-flex.justify-content-center.fs-2.gap-4
                                    a.text-gradient(href="https://www.facebook.com/profile.php?id=100091522652992") 
                                        i.bi.bi-facebook
                                    a.text-gradient(href="https://www.linkedin.com/company/monitoreo-de-convocatorias-sicoes-bolivia/") 
                                        i.bi.bi-linkedin
                                    a.text-gradient(href="https://github.com/adsinfos") 
                                        i.bi.bi-github


        // Footer
        include includes/footer.pug

        include includes/scripts.pug

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
