doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Adsinfos

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            header.py-5
                .container.px-5.pb-5
                    .row.gx-5.align-items-center
                        .col-xxl-5
                            // Header text content
                            .text-center.text-xxl-start
                                .badge.bg-gradient-primary-to-secondary.text-white.mb-4
                                    .text-uppercase Publicaciones &middot; Automatización &middot; Marketing
                                .fs-3.fw-light.text-muted Miles de publicaciones al dia! 
                                h1.display-3.fw-bolder.mb-5
                                    span.text-gradient.d-inline Con nuestro buscador de Convocatorias SICOES BOLIVIA
                                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xxl-start.mb-3
                                    a.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(href='http://convocatorias.adsinfo.me') Buscador de convocatorias 
                                h1.display-3.fw-bolder.mb-5
                                    span.text-gradient.d-inline Estadisticas de convocatorias
                                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xxl-start.mb-3
                                    a.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(href='/estadisticas.html') Estadisticas
                        .col-xxl-7
                            // Header profile picture
                            .d-flex.justify-content-center.mt-5.mt-xxl-0
                                .profile.bg-gradient-primary-to-secondary
                                    // TIP: For best results, use a photo with a transparent background like the demo example below
                                    // Watch a tutorial on how to do this on YouTube (link)
                                    img.profile-img(src='assets/profile.png', alt='...')
                                    .dots-1
                                        include includes/svg-dots.pug
                                    .dots-2
                                        include includes/svg-dots.pug
                                    .dots-3
                                        include includes/svg-dots.pug
                                    .dots-4
                                        include includes/svg-dots.pug

            // About Section
            section.bg-light.py-5
                .container.px-5
                    .row.gx-5.justify-content-center
                        .col-xxl-8
                            .text-center.my-5
                                h2.display-5.fw-bolder
                                    span.text-gradient.d-inline Acerca de 
                                p.lead.fw-light.mb-4 Somos un grupo de Canales y bots que monitorizan y publican
                                p.text-muted Desde noticias, cotización de divisas, monitoreo de servidores, monitoreo de convocatorias de gobiernos a empresas y personas, etc.
                                .d-flex.justify-content-center.fs-2.gap-4
                                    a.text-gradient(href="https://www.facebook.com/profile.php?id=100091522652992") 
                                        i.bi.bi-facebook
                                    a.text-gradient(href="https://www.linkedin.com/company/monitoreo-de-convocatorias-sicoes-bolivia/") 
                                        i.bi.bi-linkedin
                                    a.text-gradient(href="https://github.com") 
                                        i.bi.bi-github

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
